<img src="https://i.imgur.com/6U6q5jQ.png"/>


# Data Collection in Python

<a id='beginning'></a>
This session pays attention to get data. In this situation, you can be confronted with a decision to collect data from repositories or similar sources, or collect your own data to answer an ad-hoc research question. The latter case will make you consider if you need a probabilistic or non-probabilistic design; which will also determine the next steps in your design.
In any case, you need to collect data to be read by R or Python, unless your data is not suitable for any kind of computational data processing. But in this unit, I am assuming it is. If you have collected your data, a popular choice to record your observations is an spreadsheet, maybe using Excel or GoogleDocs. If you have collected data from another party, you may also have spreadsheets, or more sophisticated files in particular formats, like SPSS or STATA. Maybe you decided to collect data from the web, and you may be dealing with XML or JSON formats; or simply text without much structure. Let me show you how to deal with the following cases:

1. [Propietary software.](#part1) 
2. [Ad-hoc collection.](#part2) 
3. [Use of APIs.](#part3) 
4. [Scraping webpages.](#part4)

Remember that the location of your files is extremely important. If you have created a folder name "my project", your code should be in that folder, which I call sometimes the root folder,  and your data in another folder inside that root folder. In any case, you should become familiar with some important commands from the **os** package:

In [9]:
import os

The two more important uses are:

In [10]:
# where am I?
os.getcwd()

'/Users/JoseManuel/Documents/GITHUBs/PythonVsR/OperationsCollect'

If the file is in a folder inside your root folder, you simply write:

In [12]:
import os

folder="data"
fileName="anes_timeseries_2012.dta"
fileToRead=os.path.join(folder,fileName)

The object _fileToRead_ has the right name of the path, because **os.path.join** creates a path using the elements between the parenthesis. Notice that if you are using Windows, a folder in "C" hard drive should be written like this: 
os.path.join('c:/','folder1', 'folder2'). Notice that you can write several folders, and path.join creates the right separator, but just for Windows you need that element ':/'. If you want to know the separator your computer is using, type this:

In [13]:
os.path.sep

'/'

Let's turn our attention to the file acquisition process.


____


<a id='part1'></a>
## Collecting data from propietary software

Let's start with data from SPSS and STATA, very common in public policy schools. To work with these kind of files, we will simply use *pandas*.

In [14]:
import pandas as pd

I using a file from the American National Election Studies (ANES). This is a rather big file, so let me select some variables ("libcpre_self","libcpo_self",a couple of question pre and post elections asking respondents to place themselves on a seven point scale ranging from ‘extremely liberal’ to ‘extremely conservative’) and create a data frame with them:

In [15]:
varsOfInterest=["libcpre_self","libcpo_self"]

Getting a Stata file into pandas is quite easy:

In [16]:
import os
folder="data"
fileName="anes_timeseries_2012.dta"
fileToRead=os.path.join(folder,fileName)
dataStata=pd.read_stata(fileToRead,columns=varsOfInterest)

In [17]:
dataStata.head()

,libcpre_self,libcpo_self
0,1. Extremely liberal,"-6. Not asked, unit nonresponse (no post-elect..."
1,1. Extremely liberal,2. Liberal
2,-2. Haven't thought much about this,2. Liberal
3,-2. Haven't thought much about this,-8. Don't know
4,2. Liberal,2. Liberal

Opening SPSS files in pandas requires you previously install pyreadstat:

In [21]:
# do you have it?
!pip show pyreadstat

Name: pyreadstat
Version: 1.2.6
Summary: Reads and Writes SAS, SPSS and Stata files into/from pandas data frames.
Home-page: https://github.com/Roche/pyreadstat
Author: Otto Fajardo
Author-email: pleasecontactviagithub@notvalid.com
License: Apache License Version 2.0
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires: pandas
Required-by:

In [22]:
# Set up the file location:
fileName="anes_timeseries_2012.sav"
fileToRead=os.path.join(folder,fileName)

# Open it: 
dataSpss=pd.read_spss(fileToRead)

In [23]:
dataSpss.head()

,version,caseid,weight_ftf,weight_web,weight_full,psu_full,psu_ftf,strata_full,strata_ftf,ftf_oversample,...,randordq_casitherm_illegal,randordq_casitherm_white,randordq_stereogroups,randordq_discrim_black,randordq_discrim_hisp,randordq_discrim_white,randordq_discrim_gay,randordq_discrim_women,randordq_stereorelig,invited_inetrecontact2013
0,ANES2012TimeSeries_version20150528,1.0,0.3802,0.0,0.3802,1.0,1.0,6.0,6.0,0. No oversample,...,"-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
1,ANES2012TimeSeries_version20150528,2.0,0.5470,0.0,0.5470,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"231. Order: 2 (Hispanics), 3 (Asians), 1 (Blacks)",3. 3rd discrimination group,1. 1st discrimination group,5. 5th discrimination group,2. 2nd discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
2,ANES2012TimeSeries_version20150528,3.0,0.4975,0.0,0.4975,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,4. 4th CASI/Web group thermometer,"132. Order: 1 (Blacks), 3 (Asians), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
3,ANES2012TimeSeries_version20150528,4.0,0.2549,0.0,0.2549,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"213. Order: 2 (Hispanics), 1 (Blacks), 3 (Asians)",3. 3rd discrimination group,2. 2nd discrimination group,5. 5th discrimination group,1. 1st discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
4,ANES2012TimeSeries_version20150528,5.0,0.6028,0.0,0.6028,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,1. 1st CASI/Web group thermometer,"312. Order: 3 (Asians), 1 (Blacks), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"

In [75]:
pip show openpyxl

Name: openpyxl
Version: 3.1.2
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires: et-xmlfile
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [76]:
# Set up the file location:
fileName="HDI.xlsx"
fileToRead=os.path.join(folder,fileName)

# Open it: 
dataExcel=pd.read_excel(fileToRead)

In [77]:
dataExcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HDI rank  188 non-null    int64
 1   Country   188 non-null    object
 2   1990      188 non-null    object
 3   2000      188 non-null    object
 4   2010      188 non-null    float64
 5   2011      188 non-null    float64
 6   2012      188 non-null    float64
 7   2013      188 non-null    float64
 8   2014      188 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 13.3+ KB

[Go to page beginning](#beginning)

_____

<a id='part2'></a>

## Collecting your ad-hoc data

Let me assume you have collected some data using Google Forms. The answers to your form are saved in an spreadsheet, which you should publish as a CSV file. Then, I can read it like this:

In [78]:
import pandas as pd
link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRCHCDPx4NmYA5phchO2rZhZSPvHZjkF08E11i3gsjHCy4zVWc12IRGg8rMzDgpvIHCZQqGeqPFhWa6/pub?gid=692075096&single=true&output=csv'
fromGoogle = pd.read_csv(link)

# here it is:
fromGoogle

,HDI rank,Country,1990,2000,2010,2011,2012,2013,2014
0,1,Norway,"0,849","0,917","0,940","0,941","0,942","0,942","0,944"
1,2,Australia,"0,865","0,898","0,927","0,930","0,932","0,933","0,935"
2,3,Switzerland,"0,831","0,888","0,924","0,925","0,927","0,928","0,930"
3,4,Denmark,"0,799","0,862","0,908","0,920","0,921","0,923","0,923"
4,5,Netherlands,"0,829","0,877","0,909","0,919","0,920","0,920","0,922"
...,...,...,...,...,...,...,...,...,...
183,184,Burundi,"0,295","0,301","0,390","0,392","0,395","0,397","0,400"
184,185,Chad,..,"0,332","0,371","0,382","0,386","0,388","0,392"
185,186,Eritrea,..,..,"0,381","0,386","0,390","0,390","0,391"
186,187,Central African Republic,"0,314","0,310","0,362","0,368","0,373","0,348","0,350"
187,188,Niger,"0,214","0,257","0,326","0,333","0,342","0,345","0,348"

In [79]:
fromGoogle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HDI rank  188 non-null    int64
 1   Country   188 non-null    object
 2   1990      188 non-null    object
 3   2000      188 non-null    object
 4   2010      188 non-null    object
 5   2011      188 non-null    object
 6   2012      188 non-null    object
 7   2013      188 non-null    object
 8   2014      188 non-null    object
dtypes: int64(1), object(8)
memory usage: 13.3+ KB

[Go to page beginning](#beginning)

-----

<a id='part3'></a>

## Collecting data from APIs

There are organizations, public and private, that have an open data policy that allows people to access their repositories dynamically. You can get that data in CSV format if available, but the data is always in  XML or JSON format, which are containers that store data in an *associative array* structure. Python's dictionaries are very useful in these situations, as they can keep the NOSQL structure better than data frames. Let me get the data about 9-1-1 Police reponses from Seattle:

In [80]:
# pip install sodapy

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kzjm-xkqj", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [81]:
results_df.shape

(2000, 12)

In [82]:
results_df

,address,type,datetime,latitude,longitude,report_location,incident_number,:@computed_region_ru88_fbhk,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94
0,3rd Ave / Pine St,Medic Response- Overdose,2024-01-31T21:34:00.000,47.610743,-122.338702,"{'type': 'Point', 'coordinates': [-122.338702,...",F240016601,14,30,18081,NaN,NaN
1,S Walker St / Rainier Ave S,Rubbish Fire,2024-01-31T21:31:00.000,47.583656,-122.302199,"{'type': 'Point', 'coordinates': [-122.302199,...",F240016598,42,42,17919,NaN,NaN
2,Ballard Ave Nw / Nw Market St,Aid Response,2024-01-31T21:31:00.000,47.66868,-122.386368,"{'type': 'Point', 'coordinates': [-122.386368,...",F240016600,4,1,18386,NaN,NaN
3,937 N 96th St,Aid Response,2024-01-31T21:30:00.000,47.698721,-122.34681,"{'type': 'Point', 'coordinates': [-122.34681, ...",F240016597,23,34,18377,NaN,NaN
4,8427 1st Ave S,Aid Response,2024-01-31T21:29:00.000,47.527555,-122.335064,"{'type': 'Point', 'coordinates': [-122.335064,...",F240016596,59,15,18385,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,4515 41st Ave Sw,Aid Response,2024-01-26T07:49:00.000,47.562739,-122.384135,"{'type': 'Point', 'coordinates': [-122.384135,...",F240013884,1,50,18795,NaN,NaN
1996,620 Terry Ave,Medic Response,2024-01-26T07:38:00.000,47.606157,-122.323768,"{'type': 'Point', 'coordinates': [-122.323768,...",F240013880,19,12,18379,NaN,NaN
1997,5255 23rd Ave Sw,Aid Response,2024-01-26T07:37:00.000,47.554559,-122.361744,"{'type': 'Point', 'coordinates': [-122.361744,...",F240013879,45,13,18385,NaN,NaN
1998,1511 W Thurman St,Vessel Sinking On Shore,2024-01-26T07:32:00.000,47.655813,-122.377561,"{'type': 'Point', 'coordinates': [-122.377561,...",F240013877,33,27,19575,NaN,NaN
1999,N 135th St / Stone Ave N,Aid Response,2024-01-26T07:26:00.000,47.726858,-122.342312,"{'type': 'Point', 'coordinates': [-122.342312,...",F240013876,46,33,19582,123,1

[Go to page beginning](#beginning)

_____

<a id='part4'></a>

## Collecting data by scraping

We are going to get the data from a table from this [wikipage](https://en.wikipedia.org/wiki/List_of_freedom_indices)

In [59]:
pip show beautifulsoup4 html5lib lxml

Name: beautifulsoup4
Version: 4.12.2
Summary: Screen-scraping library
Home-page:
Author:
Author-email: Leonard Richardson <leonardr@segfault.org>
License:
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires: soupsieve
Required-by: nbconvert
---
Name: html5lib
Version: 1.1
Summary: HTML parser based on the WHATWG HTML specification
Home-page: https://github.com/html5lib/html5lib-python
Author:
Author-email:
License: MIT License
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires: six, webencodings
Required-by:
---
Name: lxml
Version: 5.1.0
Summary: Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
Home-page: https://lxml.de/
Author: lxml dev team
Author-email: lxml-dev@lxml.de
License: BSD-3-Clause
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [62]:

# Location 
wikilink = "https://en.wikipedia.org/wiki/List_of_freedom_indices" 

wikiTables1=pd.read_html(wikilink)
wikiTables2=pd.read_html(wikilink,attrs={'class':'wikitable sortable'})
wikiTables3=pd.read_html(wikilink,match="Score")

In [64]:
#How many are there?
len(wikiTables1),len(wikiTables2),len(wikiTables3)

(5, 2, 2)

In [66]:
wikiTables2[0]

,Country,Freedom in the World 2023[13],Score,Index of Economic Freedom 2023[14],Score.1,Press Freedom Index 2023[3],Score.2,Democracy Index 2023[9],Score.3
0,Norway,free,100,mostly free,76.9,good,95.18,full democracy,9.81
1,Ireland,free,97,free,82,good,89.91,full democracy,9.05
2,Sweden,free,100,mostly free,77.5,good,88.15,full democracy,9.26
3,Finland,free,100,mostly free,77.1,good,87.94,full democracy,9.2
4,Denmark,free,97,mostly free,77.6,good,89.48,full democracy,9.15
...,...,...,...,...,...,...,...,...,...
192,Afghanistan,not free,8,NaN,—,very serious,39.75,authoritarian regime,2.85
193,Yemen,not free,9,NaN,—,very serious,32.78,authoritarian regime,1.95
194,Palestine,NaN,—,NaN,—,very serious,37.86,authoritarian regime,3.83
195,Syria,not free,1,NaN,—,very serious,27.22,authoritarian regime,1.43
196,North Korea,not free,3,repressed,2.9,very serious,21.72,authoritarian regime,1.08

In [67]:
wikiTables3[0]

,Country,Freedom in the World 2023[13],Score,Index of Economic Freedom 2023[14],Score.1,Press Freedom Index 2023[3],Score.2,Democracy Index 2023[9],Score.3
0,Norway,free,100,mostly free,76.9,good,95.18,full democracy,9.81
1,Ireland,free,97,free,82,good,89.91,full democracy,9.05
2,Sweden,free,100,mostly free,77.5,good,88.15,full democracy,9.26
3,Finland,free,100,mostly free,77.1,good,87.94,full democracy,9.2
4,Denmark,free,97,mostly free,77.6,good,89.48,full democracy,9.15
...,...,...,...,...,...,...,...,...,...
192,Afghanistan,not free,8,NaN,—,very serious,39.75,authoritarian regime,2.85
193,Yemen,not free,9,NaN,—,very serious,32.78,authoritarian regime,1.95
194,Palestine,NaN,—,NaN,—,very serious,37.86,authoritarian regime,3.83
195,Syria,not free,1,NaN,—,very serious,27.22,authoritarian regime,1.43
196,North Korea,not free,3,repressed,2.9,very serious,21.72,authoritarian regime,1.08

In [70]:
wikiTables2[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             197 non-null    object
 1   Freedom in the World 2023[13]       196 non-null    object
 2   Score                               197 non-null    object
 3   Index of Economic Freedom 2023[14]  176 non-null    object
 4   Score.1                             197 non-null    object
 5   Press Freedom Index 2023[3]         184 non-null    object
 6   Score.2                             197 non-null    object
 7   Democracy Index 2023[9]             165 non-null    object
 8   Score.3                             197 non-null    object
dtypes: object(9)
memory usage: 14.0+ KB

In [68]:
wikiTables2_bs=pd.read_html(wikilink,flavor='bs4',
                            attrs={'class':'wikitable sortable'})

In [69]:
wikiTables2_bs[0]

,Country,Freedom in the World 2023[13],Score,Index of Economic Freedom 2023[14],Score.1,Press Freedom Index 2023[3],Score.2,Democracy Index 2023[9],Score.3
0,Norway,free,100,mostly free,76.9,good,95.18,full democracy,9.81
1,Ireland,free,97,free,82,good,89.91,full democracy,9.05
2,Sweden,free,100,mostly free,77.5,good,88.15,full democracy,9.26
3,Finland,free,100,mostly free,77.1,good,87.94,full democracy,9.2
4,Denmark,free,97,mostly free,77.6,good,89.48,full democracy,9.15
...,...,...,...,...,...,...,...,...,...
192,Afghanistan,not free,8,NaN,—,very serious,39.75,authoritarian regime,2.85
193,Yemen,not free,9,NaN,—,very serious,32.78,authoritarian regime,1.95
194,Palestine,NaN,—,NaN,—,very serious,37.86,authoritarian regime,3.83
195,Syria,not free,1,NaN,—,very serious,27.22,authoritarian regime,1.43
196,North Korea,not free,3,repressed,2.9,very serious,21.72,authoritarian regime,1.08

In [71]:
wikiTables2_bs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             197 non-null    object
 1   Freedom in the World 2023[13]       196 non-null    object
 2   Score                               197 non-null    object
 3   Index of Economic Freedom 2023[14]  176 non-null    object
 4   Score.1                             197 non-null    object
 5   Press Freedom Index 2023[3]         184 non-null    object
 6   Score.2                             197 non-null    object
 7   Democracy Index 2023[9]             165 non-null    object
 8   Score.3                             197 non-null    object
dtypes: object(9)
memory usage: 14.0+ KB

In [72]:
freedomDF=wikiTables2_bs[0].copy()